* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #FFF8F3;
    padding-top: 50px;

}

nav {
    width:71%;
    max-width: 1140px;
    height: 65px; 
    display: flex;
    border: 1px solid red;
    margin: 0 auto;
    justify-content: space-between;
    
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.logo-r {

    color: #FD6E0A;
}

.menubar {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    font-size: 1.25em;
}

.menubar a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
/* this button design wii be used for all button  */
.allbtn {
    padding: 18px 35           px;
    font-size: 1.10em;
    font-weight: bold;
    color: white;
    background-color: #ff6a00;
    box-shadow: 0 4px 4px black;
    border: none;
    border-radius: 5px;

}

          

