* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    border: 1px solid red;
    background: url(../hero-dev-portfolio-resources-main/images/developer.png), url(../hero-dev-portfolio-resources-main/images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

nav {
    width: 71%;
    max-width: 1140px;
    height: 65px;
    display: flex;
    border: 1px solid red;
    margin: 0 auto;
    justify-content: space-between;

}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
}

.logo-r {

    color: #FD6E0A;
}

.menubar {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    font-size: 1.25em;
}

.menubar a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

/* this button design wii be used for all button  */
.allbtn {
    padding: 18px 35px;
    font-size: 1.10em;
    font-weight: bold;
    color: white;
    background-color: #ff6a00;
    box-shadow: 0 4px 4px black;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

/* its hole section part of banner  */

.banner {
    margin: 47px 38px 0px 230px;
    display: flex;
    border: 1px solid red;
    align-items: center;
    justify-content: space-between;

}

.banner-content {
    max-width: 585px;

}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 5px;
    color: #474747;

}

.banner-content h1 {
    font-size: 85px;
    color: black;
    padding-bottom: 30px;

}

.banner-content p {
    font-size: 18px;
    color: #757575;
    padding-bottom: 30px;

}

.contact {
    background-color: white;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 47px;
}

.banner-btn {
    font-size: 20px;
}

.banner-img img {
    max-width: 585px;
    vertical-align: middle;
}